*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin: 20px 0px;
}

.members-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}